.container {
  display: flex;
  justify-self: start;
} 
/* Estilos para la barra lateral */
.sidebar {
  width: 250px;
  background-color: #2C3E50; /* Fondo oscuro */
  padding: 15px;
  color: #ECF0F1; /* Texto claro */
  height: 100vh; /* Altura completa de la ventana */
  overflow-y: auto; /* Scroll vertical si el contenido es mayor que la altura */
}

.main-content {
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 20px;
   /* Espacio inicial al lado de la sidebar */
  transition: margin-left 0.3s ease; /* Transición para cambiar el margen izquierdo */
}

/* Estilo para el estado cuando la sidebar está expandida */
.sidebar.expanded {
  width: 250px; /* Ancho completo */
}

/* Estilo para el estado cuando la main-content está ajustada */
.main-content.adjusted {
  margin-left: 0; /* Alinear con la sidebar */
}
