  /* Estilos para el contenido principal */
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ECF0F1; /* Fondo claro para contraste */
    color: #2C3E50; /* Texto oscuro */
  }
  
  /* Estilos para los módulos */
  .module {
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .module h3 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    background-color: #34495E; /* Fondo de módulo */
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .module h3.selected {
    background-color: #1ABC9C; /* Fondo cuando está seleccionado */
  }
  
  /* Estilos para los submódulos */
  .submodules {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .submodules ul {
    list-style: none;
    padding: 0;
  }
  
  .submodules li {
    margin-bottom: 5px;
  }
  
  .submodule-link {
    color: #ECF0F1; /* Color del texto de los enlaces */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .submodule-link:hover {
    color: #1ABC9C; /* Color del texto al pasar el ratón */
  }
  
  /* Efecto hover */
  .module:hover h3 {
    background-color: #1ABC9C; /* Fondo al pasar el ratón */
  }
  