    <div *ngFor="let item of menuItems" class="module" (click)="onModuleClick(item.id)">
      <h3 [class.selected]="selectedModuleId === item.id">{{ item.description }}</h3>
      <div *ngIf="selectedModuleId === item.id && item.submodule && item.submodule.length > 0" class="submodules">
        <ul>
          <li *ngFor="let submodule of item.submodule">
            <a [routerLink]="[submodule.url]" class="submodule-link">
              {{ submodule.description }}
            </a>
          </li>
        </ul>
      </div>